
.nav-blocks {
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
.nav-blocks:before, .nav-blocks:after {
    content: " ";
    display: table;
}
.nav-blocks:after {
    clear: both;
}
.nav-blocks .orange {
    background: #f37b53;
}
.nav-blocks .yellow {
    background: #FFB400;
}
.nav-blocks .blue {
    background: #0DAED3;
}
.nav-blocks .green {
    background: #74B749;
}
.nav-blocks .red {
    background: #de577b;
}
.nav-blocks .purple {
    background: #9d4a9c;
}
.nav-blocks .grey {
    background: #77808a;
}
.nav-blocks .smart_green {
    background: #4fad79;
}
.nav-blocks .smart_orange {
    background: #c9a15a;
}
.nav-blocks .smart_red {
    background: #c2544f;
}
.nav-blocks .smart_blue {
    background: #38a198;
}
.nav-blocks .block {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 16.66667%;
    float: left;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: 300;
    height: 115px;
    letter-spacing: 0.02em;
    line-height: 20px;
    margin: 1px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.nav-blocks .block.tree {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 30%;
    float: left;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px
}
.nav-blocks .block.tree a {
    width: 87%;
}
.nav-blocks .block.double {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left;
    width: 32.33333%;
}
.nav-blocks .block.double a {
    width: 94%;
}
.nav-blocks .block.half {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
}
.nav-blocks .block.half a {
    height: 96%;
}
.nav-blocks .block.half a:hover i {
    font-size: 200px;
}
.nav-blocks .block.full {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}
.nav-blocks .block.full a {
    height: 96%;
}
.nav-blocks .block.full a:hover i {
    font-size: 300px;
}
.nav-blocks .block i {
    font-size: 50px;
    margin-top: 20px;
    display: inline-block;
}
.nav-blocks .block:last-child {
    margin-right: 0;
}
.nav-blocks .block a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    height: 90%;
    line-height: 16px;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    text-overflow: ellipsis;
    vertical-align: top;
    text-decoration: none;
}
.nav-blocks .block a i {
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.nav-blocks .block a .info {
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.nav-blocks .block a:hover i {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    font-size: 140px;
    opacity: 0.2;
}
.nav-blocks .block a:hover .info {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    font-size: 40px;
    opacity: 0.6;
}
.nav-blocks .block:hover {
    opacity: 0.8;
}
.nav-blocks .block .info {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 45px;
}
.nav-blocks .block .label {
    background-color: transparent;
    bottom: -10px;
    font-size: 14px;
    left: 10px;
    min-height: 30px;
    position: absolute;
}

